.forecast-item {
    width: 26rem;
    height: 12rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    padding: 0.5rem;
    align-items: center;
    justify-items: start;
}

.forecast-item .weather-img {
    height: 4rem;
    width: 4rem;
    justify-self: center;
}

.forecast-item .time {
    justify-self: end;
    align-self: center;
}


