nav {
    border-bottom: 1px solid black;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    padding: 1rem 1rem;
    font-size: inherit;
    align-items: center;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: black;
    color: white;
}
