.container {
    width: 60rem;
    height: 50rem;
    background: #ffffff;
    border: 1px solid black;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
